/* Contact section */
.section-bg-contact {
    background-color: #333;
    padding: 60px 0;
    text-align: center;
  }
  
  .section-header-contact h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: orange;
  }
  .section-header-contact p {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Contact information */
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info .col-md-4 {
    flex: 0 0 32%;
  }
  
  /* Contact details */
  .contact-address,
  .contact-phone,
  .contact-email {
    text-align: center;
    margin: 20px 0;
  }
  
  .contact-address i,
  .contact-phone i,
  .contact-email i {
    font-size: 36px;
    color: #f77f00;
  }
  
  .contact-address h3,
  .contact-phone h3,
  .contact-email h3 {
    color: #f77f00;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .contact-address address,
  .contact-phone p,
  .contact-email p {
    font-size: 16px;
    color: #fff;
  }
  
  /* Contact form */
  .form {
    margin: 40px 0;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form .loading,
  .form .error-message,
  .form .sent-message {
    display: none;
    color: #f77f00;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .form .sent-message {
    color: #51a049;
  }
  
  .form .text-center button {
    background-color: #f77f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .form .text-center button:hover {
    background-color: #ff9900;
  }
  