/* Pricing section */
.hexa-one{
    position: absolute;
    margin: 0rem 1rem;
    z-index: 0;
    opacity: 0.5;
}
.hexa-two{
    position: absolute;
    margin: 100rem 0rem;
    z-index: 0;
    opacity: 0.5;
}

.pricing-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    padding-bottom:15rem;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Pricing container using CSS Grid */
  .pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  /* Pricing item */
  .pricing-item {
    background-color: #fff;
    height: 35vh;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .plan {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
    color: #f77f00;
  }
  
  .features {
    list-style: none;
    height: 14vh;
    margin: 20px 0;
  }
  
  .features li {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .btn-price {
    background-color: #f77f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-price:hover {
    background-color: #ff9900;
  }
  

  @media (min-width: 1024px) {
    .hexa-two{
        position: absolute;
        margin: 30rem 100rem;
        z-index: 0;
        opacity: 0.5;
    }
  }
  
