.empty {
  height: 80vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 165, 0, 0.8),
    rgba(255, 127, 80, 0.8)
  ), url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1140&q=80);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  z-index: 0;
}

#about {
  padding: 60px 0;
  background-color: #f8f9fa;
  text-align: center;
  height: 200vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(100, 92, 76, 0.8),
    rgba(36, 32, 30, 0.8)
  ), url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1140&q=80);
  background-size: cover;
  background-position: top;
  position: relative;
}

.container {
  position: relative;
  padding: 20px;
  max-width: 1200px; /* Added a max width for responsiveness */
  margin: 0 auto; /* Center the content */
}

.section-header {
  margin-bottom: 20px;
}

.section-header h3 {
  font-size: 36px;
  margin: 0;
  padding-bottom: 20px;
  color: orange;
}

.section-header p {
  font-size: 16px;
  margin: 0;
  color: rgb(173, 173, 173);
}

.about-cols {
  display: grid; /* Changed to a grid layout */
  grid-template-columns: 1fr; /* For a single column on smaller screens */
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.about-col {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Removed the initial opacity and transform */
  transform: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.about-col .img {
  position: relative;
  overflow: hidden;
  border-radius: 5px;

}

.about-col img {
  max-width: 100%; /* Ensure the image is responsive */
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.about-col .icon {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: orange;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
}

.about-col h2 {
  font-size: 24px;
  margin: 15px 0;
  color: #333;
  transition: color 0.3s ease;
}

.about-col p {
  font-size: 16px;
  color: #777;
  transition: color 0.3s ease;
}

.about-col:hover img {
  transform: scale(1.1);
}

.about-col:hover .title {
  color: orange;
}

@media (min-width: 768px) {
  .about-cols {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  #about {
    height: 100vh;
  }
  .about-col {
   
   margin-top: 10rem;
  
  }
  .container{
    padding: 20px 100px;
  }
}