.featured-services {
  padding: 20px 10px;
  background-color: #f8f9fa;
  text-align: center;
  background-color: #222;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.service:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.box-bg {
  background-color: orange;
  color: #ffffffce;
}

.title-fea a {
  font-size: 24px;
  margin: 25px 0;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.description {
  font-size: 16px;
  color: #3333338d;
  transition: color 0.2s;
}

.icon {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

/* Primary (Orange) Color */
.service:hover .title-fea a,
.service:hover .description {
  color: orange;
}

/* Secondary (Black) Color */
.box-bg:hover {
  background-color: #333;
}

/* Hover effect for icon color */
.service:hover .icon {
  color: orange;
}

@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured-services {
    padding: 20px 300px;
  }
}
