/* Testimonials section */
.testimonial-section {
  background-color: #2f2f2f;
  padding: 60px 0;
  text-align: center;
}

.section-title-test {
  font-size: 34px;
  margin-bottom: 20px;
  color: orange; /* Title color */
  opacity: 0.5;
}

/* Testimonial container */
.carousel {
  max-width: 100%; /* Adjust the maximum width of the carousel */
  margin: 0 auto;
}

/* Testimonial item */
.testimonial {
  background-color: #2f2f2f; /* Testimonial background color */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

/* Testimonial image */
.testimonial img {
  max-width: 100px; /* Adjust the image size */
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Testimonial text */
.testimonial-text {
  font-size: 16px;
  font-weight: 800;
  color: orange; /* Text color */
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}

/* Testimonial author */
.testimonial-author {
  padding-bottom: 15px;

  font-size: 16px;
  color: orangered; /* Author text color */
}
